
.venv/
.env


__pycache__/
*.pyc
*.pyo
*.pyd


cython_debug/


.env*


poetry.lock


.ipynb_checkpoints/


.idea/


.vscode/

.DS_Store

Thumbs.db

*.log

*.swp
*.swo
*.sublime-project
*.sublime-workspace

build/
dist/
*.egg-info/

.coverage
.coverage.*
*.hypothesis/
.nox/
.tox/
*.tox/
*.nox/
*.coverage
*.hypothesis/


.mypy_cache/
.dmypy.json


*.spec

pip-wheel-metadata/
*.egg

*.bak
*.tmp
*.swp
*.swo
